# Python
__pycache__/
*.py[cod]
.venv/

# Deployment artifacts
*.zip
.python_packages/
acr-build-context/
ui-build-tmp/
api-logs*/
ui-logs*/
*-publish-profile.xml

# Node / Ionic
ui/node_modules/
ui/www/
ui/.angular/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
